body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    
    flex: 1;
    /* overflow-y: auto; */
    /* overflow: hidden; */
    position: relative;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

.calculator,
.blog {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    word-wrap: normal;
    transition: padding 0.5s; /* Add smooth transition effect to padding */
    text-align: center;
    /* max-width: 50%; */
}

.calculator {
    /* position: fixed; */
    height: max-content;
    /* scroll-margin-block:; */
    background-color: #f4f4f4;
    /* background-color: #9b7a7a; */

}

.blog {
    background-color: #e0e0e0;
}

.toggle-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.toggle-btn.clicked {
    transform: translateX(-50%);
}

.toggle {
    display: flex;
}

button {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
#solutionHead1 {
    display: none;
}
#solutionHead2 {
    display: none;
}
#innerStep1 {
    border: 1px;
    border-radius: 10px;
    background-color: cadetblue;
    color: rgb(8, 8, 8);
    padding: 10px;
    margin-top: 20px;
    display: none;
}
#innerStep2 {
    border: 1px;
    border-radius: 10px;
    background-color: cadetblue;
    color: rgb(8, 8, 8);
    padding: 10px;
    margin-top: 20px;
    display: none;
}

#solutions1 {
    border: 1px;
    border-radius: 20px;
    background-color: rgb(160, 121, 95);
    color: rgb(8, 8, 8);
    padding: 10px;
    margin-top: 20px;
    display: none;
}
#solutions2 {
    border: 1px;
    border-radius: 20px;
    background-color: rgb(160, 121, 95);
    color: rgb(8, 8, 8);
    padding: 10px;
    margin-top: 20px;
    display: none;
}

.blog-details {
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    /* box-shadow: 0 0 10px rgba(215, 53, 2, 1.3); */
    font: 1em sans-serif;
}
.subStepHeading{
    font-weight: bold;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.CompairMainDiv{
    display: flex;
    flex: 1;
    /* overflow-y: auto; */
    /* overflow: hidden; */
    /* position: relative; */
}